[Desktop Entry]
Name=xteddy
Name[pl]=xteddy
Comment=xteddy is a cuddly teddy bear
Comment[pl]=xteddy to kochany pluszowy miś
Icon=xteddy.png
Exec=xteddy
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Amusement;
# vi: encoding=utf-8
