[Desktop Entry]
Name=xteddy
Name[pl]=xteddy
Comment=xteddy is a cuddly teddy bear
Comment[pl]=xteddy to kochany pluszowy miś
Icon=xteddy
Exec=xteddy
Terminal=false
Type=Application
Categories=Amusement;
# vi: encoding=utf-8
